header {
    width: 100%;
    height: 350px;
    padding-top: 20px;
    background-image: url("https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2017/10/11/15077388824739.jpg");
}

header:before {
    width: 100%;
    height: 350px;
}

.container {
    width: 950px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    margin: 0 auto;
}

.card {
    margin-bottom: 25px;
}

.lds-dual-ring:after {
    margin-top: 30px;
}

.lds-dual-ring::before {
    top: 90px;
    left: 22px;
}
