* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 240px;
    padding-top: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe2TlsPPo2LkUFhqqIvCLMeJE29g5K-zoTHA&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

header:before {
    width: 100%;
    height: 240px;
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}

.header-tittle {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    background-image: url("../images/logo_rickandmorty.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-description {
    width: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.header-description p::selection {
    background-color: #ecd504;
    color: #1f1f1f;
}

main {
    width: 100%;
    height: auto;
    background: rgb(60, 62, 68);
}

.spinner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.lds-dual-ring {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 94px;
    height: 94px;
    margin: auto 0;
    margin-top: 25px;
    border-radius: 50%;
    border: 6px solid #ecd504;
    border-color: #ecd504 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring::before {
    content: "Loading...";
    position: relative;
    top: 85px;
    left: 22px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    color: white;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    width: 250px;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}
  
.card {
    width: 250px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #282828;
    box-shadow: 0 0 5px 5px rgb(71, 71, 71);
}

.card-image {
    width: 100%;
    height: 60%;
    position: relative;
    padding: 0 30px;
    padding-top: 20px;
}

.img-fluid {
    width: 100%;
    height: 100%;
    border: solid 2px rgb(252, 0, 239);
    border-radius: 100%;
}

.card-body {
    width: 100%;
    height: 40%;
    position: relative;
    padding: 15px 25px;
    font-family: 'Mukta', sans-serif;;
    color: #fff;
}

.card-body h3 {
    font-size: 1.8em;
    margin-top: 10px;
}

.card-body h3::selection {
    background-color: #ecd504;
    color: #1f1f1f;
}

.card-body p {
    font-size: 1.4em;
    margin-top: 4px;
}

.card-body p::selection {
    background-color: #ecd504;
    color: #1f1f1f;
}

.alive, .dead, .unknown {
    width: auto;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 1.4rem;
}

.alive:hover,
.dead:hover,
.unknown:hover {
    transition: .2s;
    cursor: pointer;
    color: #1f1f1f;
}

.alive::selection,
.dead::selection,
.unknown::selection {
    background-color: white;
    color: black;
}
                                                                                        
.alive {
    border: 1px solid #81ff28;
    bottom: 10px;
    right: 5px;
    color: #81ff28;
}

.alive:hover {
    background-color: #81ff28;
    color: #1f1f1f;
}

.dead {
    border: 1px solid #f8261f;
    bottom: 10px;
    right: 5px;
    color: #f8261f;
}

.dead:hover {
    background-color: #f8261f;
    color: #1f1f1f;
}

.unknown {
    border: 1px solid #28a5ff;
    bottom: 10px;
    right: 5px;
    color: #28a5ff;
}

.unknown:hover {
    background-color: #28a5ff;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.info {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info h3 a {
    color: #f8261f;
    text-decoration: none;
}

.info h3 a::selection {
    background-color: #1f1f1f;
    color: white;
}

.info .github {
    width: 34px;
    height: 34px;
    margin: 0 auto;
    background-image: url("../images/github_logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
}

.info p::selection {
    background-color: #ecd504;
    color: #1f1f1f;
}